@mixin card($watchList: true) {
   display: flex;
   flex-direction: column;
   justify-content: center;
   overflow: scroll;
   gap: 1rem;
   border: 1px solid $color-grey-dark-1;
   @if ($watchList == false) {
      justify-content: flex-start;
      min-width: 100%;
      height: 90%;
   }

   &--image {
      width: 100%;
      height: 100%;
      border-bottom: 1px solid currentColor;
   }
   &--details {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5em;

      .key {
         color: $color-primary;
         font-size: 1.5rem;
      }
      .value {
         font-size: 1.4rem;
         font-style: italic;
         color: $color-grey-dark-1;
      }
   }
   &--languages {
      display: contents;
   }
   &--date {
      display: flex;
      align-items: center;
      justify-content: center;
      .value {
         border: none;
      }
      &,
      &:active,
      &:focus {
         color: $color-grey-dark-1;
      }
   }
   &--buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2rem;
      gap: 2rem;
   }
}
